{
    "presets": [
      [
        "@babel/preset-env",
        {
            "targets": {
                "browsers": ["IE >= 9"]
              }
        },
        "@babel/preset-react"
      ]
    ],
    "plugins":[
      [
        "module-resolver",
        {
          "alias":{
            "@src":"./src",
            "@lib":"./lib"
          }
        }
      ]
    ]
  }